$ms-settings:(
        normalizer: reset,
        bootstrap: false,
        font-safe-size: false,
        breakpoints-layout: meSass, // @ (Based on Material By Google), bootstrap-plus (Based on Bootstrap), bootstrap, material-ui, Material by Google (window-grid-device)
);
