$ms-colors: (
  primary: #242582,
  main: #e0e0e0,
  text: #212121,
  dark: #000000,
  light: #ffffff
);

$ms-colors-social: (
  facebook: #3b5998,
  instagram: #517fa4,
  linkedin: #0077b5,
  medium: #00ab6b,
  pinterest: #bd081c,
  tumblr: #35465c,
  twitter: #55acee,
  vimeo: #1ab7ae,
  youtube: #b31217
);
