@mixin meFlex($type:center, $direction: row, $wrap: false, $reverse: false) {
    $errMsgDirection: "ERR> You've provided wrong direction value.";
    $errMsgType: "ERR> You've provided wrong type value.";
    $errMsgWrap: "ERR> You've provided wrong wrap value.";
    display: flex;
    @if( $type == center OR $type == "center center" ){
        justify-content: center;
        align-items: center;
    }@else if( $type == "top left" ){
        align-items: flex-start;
        justify-content: flex-start;
    }@else if( $type == "top center" ){
        @if( $direction == row ){
            align-items: flex-start;
            justify-content: center;
        }@else if($direction == column) {
            align-items: center;
            justify-content: flex-start;
        }@else{
            @error #{$errMsgType};
        }
    }@else if( $type == "top right" ){
        @if( $direction == row ){
            align-items: flex-start;
            justify-content: flex-end;
        }@else if($direction == column) {
            align-items: flex-end;
            justify-content: flex-start;
        }@else{
            @error #{$errMsgType};
        }
    }@else if( $type == "center left" ){
        @if( $direction == row ){
            align-items: center;
            justify-content: flex-start;
        }@else if($direction == column) {
            align-items: flex-start;
            justify-content: center;
        }@else{
            @error #{$errMsgType};
        }
    }@else if( $type == "center right" ){
        @if( $direction == row ){
            align-items: center;
            justify-content: flex-end;
        }@else if($direction == column) {
            align-items: flex-end;
            justify-content: center;
        }@else{
            @error #{$errMsgType};
        }
    }@else if( $type == "bottom left" ){
        @if( $direction == row ){
            align-items: flex-end;
            justify-content: flex-start;
        }@else if($direction == column) {
            align-items: flex-start;
            justify-content: flex-end;
        }@else{
            @error #{$errMsgType};
        }
    }@else if( $type == "bottom center" ){
        @if( $direction == row ){
            align-items: flex-end;
            justify-content: center;
        }@else if($direction == column) {
            align-items: center;
            justify-content: flex-end;
        }@else{
            @error #{$errMsgType};
        }
    }@else if( $type == "bottom right" ){
        @if( $direction == row ){
            align-items: flex-end;
            justify-content: flex-end;
        }@else if($direction == column) {
            align-items: flex-end;
            justify-content: flex-end;
        }@else{
            @error #{$errMsgType};
        }
    }@else{
        @error #{$errMsgDirection};
    }
    @if($direction == column){
        @if( $reverse == true ){
            flex-direction: column-reverse;
        }@else{
            flex-direction: column;
        }
    }@else if($direction == row){
        @if( $reverse == true ){
            flex-direction: row-reverse;
        }@else{
            flex-direction: row;
        }
    }@else{
        @error #{$errMsgType};
    }
    @if($wrap == true){
        flex-wrap: wrap;
    }@else if($wrap == false){
        flex-wrap: nowrap;
    }@else{
        @error #{$errMsgWrap};
    }
}

@mixin mePY($val) {
    padding-top: $val;
    padding-bottom: $val;
}

@mixin mePX($val) {
    padding-left: $val;
    padding-right: $val;
}

@mixin meMY($val) {
    margin-top: $val;
    margin-bottom: $val;
}

@mixin meMX($val) {
    margin-left: $val;
    margin-right: $val;
}

@mixin meWidthMax($val){
    max-width: $val;
    width: $val;
}

@mixin meWidthMin($val){
    min-width: $val;
    width: $val;
}

@mixin meWidthAll($val){
    max-width: $val;
    min-width: $val;
    width: $val;
}