@mixin meMotion($property: "all", $duration: msMotion(duration), $timing-function: msMotion(standard)){
    transition-duration: $duration;
    transition-timing-function: $timing-function;
    transition-property: $property;
}