@mixin meReset {
    padding: 0;
    margin: 0;
}

@mixin meResetButton {
    border: none;
    border-radius: 0;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
}

@mixin meResetFocus {
    &:focus {
        outline: none;
    }
}

@mixin meResetList {
    padding: 0;
    list-style: none;
    & > li {
        padding: 0;
    }
}