@mixin meGridInit {
  display: grid;
  grid-template: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: inRem(16);
  @include meBreakpoint(sm) {
    grid-template-columns: repeat(8, 1fr);
  }
  @include meBreakpoint(md) {
    grid-gap: inRem(24);
  }
  @include meBreakpoint(lg) {
    grid-template-columns: repeat(12, 1fr);
  }

  @warn "This function will change in further version of meSass(), but I need much more time for that.";
}